h1 {
  text-align: center;
  color: var(--o-mne-color);
  font-size: 3vw;
  font-size: 4rem;
  letter-spacing: -0.151rem;
  line-height: 0.3em;
}
@keyframes letter-spacing {
  0% {
    letter-spacing: 1rem;
    color: rgb(253, 101, 0);
  }
  100% {
    letter-spacing: -0.151rem;
    color: var(--o-mne-color);
  }
}

@keyframes letter-spacing700 {
  0% {
    letter-spacing: 1.5em;
    color: rgb(253, 101, 0);
  }
  100% {
    letter-spacing: -0.01em;
    color: var(--o-mne-color);
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (prefers-reduced-motion: no-preference) {
  h1 {
    animation: letter-spacing 1s var(--smooth-out-bezier);
  }

  @media (max-width: 550px) {
    h1 {
      animation: letter-spacing550 1s var(--smooth-out-bezier) forwards;
    }
  }
  .img-gradient {
    opacity: 0;
    animation: opacity 1s var(--smooth-out-bezier) forwards;
  }
  .img-container {
    opacity: 0;
    animation: opacity 1s var(--smooth-out-bezier) forwards;
    animation-delay: 0.3s;
  }
  .name {
    opacity: 0;
    animation: opacity 1s var(--smooth-out-bezier) forwards;
    animation-delay: 0.4s;
  }
  .rebel {
    opacity: 0;
    animation: opacity 1s var(--smooth-out-bezier) forwards;
    animation-delay: 0.6s;
  }
  .rebel-desc {
    opacity: 0;
    animation: opacity 1s var(--smooth-out-bezier) forwards;
    animation-delay: 0.7s;
  }
  .bio {
    opacity: 0;
    animation: opacity 1s var(--smooth-out-bezier) forwards;
    animation-delay: 0.8s;
  }
}

body {
  overflow-x: hidden;
}

.img-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
}

.img-gradient {
  background-image: linear-gradient(
    90deg,
    var(--background-color) 30%,
    rgba(255, 0, 0, 0) 115%
  );
  width: 100%;
  height: 65vw;
  position: absolute;
  z-index: 999;
}
.fade-img {
  height: 65vw;
}

.o-mne-text {
  padding-left: 2%;
}

.bio {
  width: 55%;
  font-size: 1.2rem;
  text-align: justify;
}

.name {
  font-size: 5vw;
  font-weight: bold;
  margin-bottom: 1vw;
  padding-left: 5%;
  letter-spacing: 0rem;
}

.rebel {
  font-size: 3rem;
  font-weight: lighter;
  letter-spacing: 0.2rem;
  margin-left: 20px;
  margin-bottom: 40px;
}

.rebel::before {
  content: "❛❛";
  font-size: 6vw;
  font-weight: lighter;
  letter-spacing: 0.3rem;
}

.rebel-desc {
  margin-top: -35px;
  padding-left: 3.5%;
  font-size: 1.2rem;
  font-weight: lighter;
  width: 55%;
  margin-bottom: 4%;
}

.slide2 {
  height: 65vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15%;
  align-items: start;
}

.slide2 p {
  font-size: 1.4vw;
  letter-spacing: normal;
  padding-left: 13%;
  color: white;
}

.slide2 h2 {
  padding-left: 10%;
  font-size: 5vw;
}

.vystava-container {
  color: var(--portfolio-color);
}

.publikace-container {
  color: var(--publikace-color);
}

.slide2 h2:nth-of-type(2) {
  padding-top: 80px;
  padding-left: 10%;
}
.slide2 div {
  width: 100%;
}

.big-element {
  height: 4300px;
}

.sticky {
  height: 100vh;
  width: 100%;
  position: sticky;
  text-align: center;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.year {
  font-size: 40vw;
  position: block;
  background: linear-gradient(
    to bottom,
    var(--dark-text),
    var(--background-color)
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 300ms ease-in-out;
  margin-top: 0;
  -webkit-transition: all 300ms ease-in;
  transition: all 1s ease-in;
}

.year-bio {
  position: absolute;
  opacity: 0;
  margin: 0;
  width: 100%;
  text-align: center;
  left: 0;
  font-size: 1.5rem;
  padding: 0 10px;
  transition: all 300ms cubic-bezier(0.02, 0.55, 0.69, 0.96);
}

.biografie {
  position: absolute;
  margin: 0 auto;
  padding: 0;
  font-size: min(6vw, 100px);
  letter-spacing: 0.2rem;
  text-align: center;
  top: 3vh;
  text-align: center;
}

.back-top {
  width: 50px;
  height: 50px;
  padding: 5px;
  border-radius: 0.7rem;
  background-color: var(--background-color-lighter);
  margin: auto;
}

.back-top svg {
  height: 80%;
  width: 100%;
}

.back-top a {
  width: 100%;
  height: 100%;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
  color: var(--dark-white);
}

@media (max-width: 1200px) {
  h1 {
    font-size: 3rem;
  }
  .o-mne-text {
    padding-left: 0;
  }

  .fade-img {
    visibility: hidden;
  }
  .name {
    text-align: center;
    letter-spacing: normal;
    font-size: 4rem;
    margin-top: 0;
  }
  .bio {
    width: 90%;
    margin: 0 auto;
    margin-top: 15px;
  }

  .rebel {
    margin-left: 20px;
    margin-bottom: 1.5vw;
  }

  .rebel-desc {
    font-size: 1rem;
    margin: 0 auto;
    margin-bottom: 5vh;
    width: 90%;
  }

  .img-container {
    display: none;
  }

  .slide1 {
    background: url(../media/o-mne-mobile.webp);
    background-repeat: repeat-y;
  }

  .slide1 div {
    width: 100%;
  }

  .mobile-flex {
    display: flex;
    flex-direction: row;
    margin-bottom: 30%;
  }

  .slide2 {
    background: url(../media/cikova-vystava-mobile.webp);
  }
  .img-gradient::before {
    content: "";
    width: 100%;
    height: 115vw;
    position: absolute;
    background: linear-gradient(transparent -10%, var(--background-color) 90%);
  }

  .slide2::before {
    background: linear-gradient(transparent 20%, var(--background-color) 100%);
  }

  .img-gradient * {
    z-index: 2;
  }

  .slide1 div:last-of-type {
    margin-bottom: 5vw;
  }

  .img-gradient {
    height: 115vw;
    background-size: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: static;
  }

  .slide2 {
    justify-content: flex-end;
    gap: 0;
  }

  .slide2 h2 {
    padding: 0;
  }

  .slide2 p {
    text-align: center;
    font-size: 1rem;
    padding: 0;
  }

  .biografie {
    margin-top: 20px;
  }

  .year {
    margin: 15px;
  }
}

@media (max-width: 750px) {
  h1 {
    font-size: 2rem;
    letter-spacing: -0.01em;
    margin-bottom: 10px;
    animation: letter-spacing700 1s cubic-bezier(0.2, 0.8, 0.3, 0.95);
  }

  .slide1 {
    height: 150vw;
  }
  .slide1::before {
    height: 150vw;
  }

  .rebel {
    font-size: 2rem;
  }

  .biografie {
    font-size: 3rem;
  }

  .mobile-flex {
    flex-direction: column;
    margin-bottom: 10%;
  }
  .mobile-flex p {
    margin-bottom: 5%;
    font-size: 1.2rem;
  }
  .mobile-flex h2 {
    font-size: 3rem;
  }
}

@media (max-width: 550px) {
  .name {
    font-size: 3rem;
  }
}

@media (max-width: 570px) {
  .slide1 {
    height: 200vw;
  }

  .slide1::before {
    height: 200vw;
    background: linear-gradient(transparent, var(--background-color) 60%);
  }

  .mobile-flex h2 {
    font-size: 2rem;
  }

  .year-bio {
    font-size: 1.2rem;
  }
}

@media (max-width: 420px) {
  h1 {
    display: none;
  }

  .name {
    font-size: 2rem;
  }

  .slide1 {
    height: 1000px;
  }

  .slide1::before {
    height: 1000px;
    background: linear-gradient(transparent, var(--background-color) 50%);
  }

  .slide2 {
    height: 400px;
    border-image: linear-gradient(var(--background-color), transparent);
  }

  .slide2::before {
    height: 400px;
    background: linear-gradient(transparent, var(--background-color) 70%);
  }

  .mobile-flex p {
    font-size: 1.1rem;
  }

  .biografie {
    font-size: 2rem;
  }
}

@media (max-width: 270px) {
  .slide1::before {
    background: linear-gradient(transparent, var(--background-color) 40%);
  }
}

@media (orientation: landscape) {
  .year {
    font-size: 45vh;
  }
}
