:root {
  --main-color: #d64545;
  scroll-behavior: smooth;
}

h1 {
  font-size: 10rem;
  text-align: center;
  color: var(--main-color);
  margin-bottom: 10px;
  white-space: nowrap;
}

.text-center {
  text-align: center;
}

figure {
  padding: 0;
  margin: 0;
}

@keyframes letter-spacing {
  0% {
    letter-spacing: 1.5rem;
    color: rgb(255, 103, 103);
  }
  100% {
    letter-spacing: -0.151rem;
    color: #d64545;
  }
}

@keyframes letter-spacing550 {
  0% {
    letter-spacing: 0.5rem;
    color: rgb(226, 111, 111);
  }
  100% {
    letter-spacing: -0.151rem;
    color: #d64545;
  }
}

@media (prefers-reduced-motion: no-preference) {
  h1 {
    animation: letter-spacing 1s var(--smooth-out-bezier) forwards;
  }
  #o-mne-heading {
    opacity: 0;
    animation: opacity 1s var(--smooth-out-bezier) forwards;
    animation-delay: 0.6s;
  }
  .text-with-btn {
    opacity: 0;
    animation: opacity 1s var(--smooth-out-bezier) forwards;
    animation-delay: 0.7s;
  }
  #o-mne img {
    opacity: 0;
    animation: opacity 1s var(--smooth-out-bezier) forwards;
    animation-delay: 0.6s;
  }
  @media (max-width: 550px) {
    h1 {
      animation: letter-spacing550 1s var(--smooth-out-bezier) forwards;
    }
  }

  .desc {
    opacity: 0;
    animation: opacity 1s var(--smooth-out-bezier) forwards;
    animation-delay: 0.2s;
  }
  .divider {
    opacity: 0;
    animation: opacity 1s var(--smooth-out-bezier) forwards;
    animation-delay: 0.3s;
  }
  .folder {
    opacity: 0;
    animation: opacity 1s var(--smooth-out-bezier) forwards;
    animation-delay: 0.6s;
  }
}

.desc {
  margin: 0 auto;
  text-align: center;
  width: 60%;
  margin-bottom: 5rem;
  line-height: 1.7rem;
  font-size: 1.1rem;
  color: rgba(255, 255, 255, 0.7);
}
section {
  width: 90%;
  max-width: 1300px;
  padding: 0 20px;
  margin: 0 auto;
}

.divider {
  max-width: 1300px;
}

#o-mne {
  display: grid;
  grid-template-columns: 1fr 30%;
  gap: 10px;
}

#o-mne img {
  width: 100%;
  border-radius: 15px;
  border: 2px solid rgba(255, 255, 255, 0.2);
}

.section-heading {
  font-size: 3rem;
  font-family: "Oswald", "Helvetica";
  margin: 0;
  margin-bottom: 15px;
}

#o-mne-heading {
  color: var(--o-mne-color);
}

#o-mne a {
  transition: font-weight 300ms var(--smooth-out-bezier);
}

#o-mne a:hover {
  font-weight: bold;
}

#o-mne .text {
  font-size: 1.3rem;
  letter-spacing: -0.009em;
}

.bold {
  font-weight: bolder;
}

.main-color {
  color: var(--main-color);
}

.o-mne-color {
  color: var(--o-mne-color);
}

.ac-art-color {
  color: var(--ac-art-color);
}

.caption-heading {
  font-size: 2rem;
  font-family: "Oswald", "Helvetica";
  font-weight: bold;
  text-align: center;
  margin-bottom: 5px;
}

.text-with-btn {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.text-with-btn p {
  width: 100%;
}

.text {
  font-size: 1.2rem;
}

.btn {
  padding: 7px 12px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  background-color: var(--background-color-lighter);
  color: white;
  border-radius: 7px;
  font-size: 1.2rem;
  cursor: pointer;
  align-self: center;
  transition: all 300ms var(--smooth-out-bezier);
}

.o-mne-btn {
  margin-top: 30px;
  &:hover {
    color: var(--o-mne-color);
    font-weight: bold;
    border: 3px solid var(--o-mne-color);
  }
}

#contact {
  width: 100%;
  height: 1000px;
}

@media (prefers-reduced-motion: no-preference) {
  .o-mne-btn:hover {
    scale: 1.2;
  }
}
#portfolio {
  margin: 50px auto;
}

#portfolio-heading {
  color: var(--portfolio-color);
  text-align: center;
}

#television {
  width: 80%;
  aspect-ratio: 16/9;
  border: 2px solid var(--dark-white);
  border-radius: 1rem;
  margin: 0 auto;
  padding: 20px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
  transition: all 500ms var(--smooth-out-bezier);
}

#television:hover {
  cursor: pointer;
}

@media (prefers-reduced-motion: no-preference) {
  #television:hover {
    scale: 1.02;
    & img {
      scale: 1.05;
    }
    & h2 {
      color: var(--portfolio-color);
    }
  }
}

#portfolio h2 {
  transition: all 500ms var(--smooth-out-bezier);
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

#portfolio .img-container img {
  position: absolute;
  top: 0;
  left: 0;
  transition: all 700ms var(--smooth-out-bezier);
}

.television-animation {
  width: 1px;
  height: 5px;
  background-color: white;
  border-radius: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 999;
}

.television-animation-el {
  opacity: 0;
}

div#television.animation-start .television-animation {
  animation: turn-on-television 1s forwards;
}

div#television.animation-start .television-animation-el {
  animation: television-appear 1s forwards;
}

@keyframes television-appear-img {
  50% {
    opacity: 0;
    visibility: hidden;
  }
  75% {
    opacity: 0.7;
    visibility: visible;
  }
}

@keyframes television-appear {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  75% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes turn-on-television {
  0% {
    width: 1px;
    left: 50%;
  }
  30% {
    width: 100%;
    left: 0;
  }
  50% {
    width: 100%;
    height: 5px;
    left: 0;
    border-radius: 0;
    top: 50%;
  }
  75% {
    height: 100%;
    top: 0;
    opacity: 1;
    visibility: visible;
  }
  100% {
    visibility: hidden;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 0;
    opacity: 0;
  }
}

#television h2 {
  font-size: 2rem;
  margin-top: 0;
}

#portfolio-btn:hover {
  color: var(--portfolio-color);
  scale: 1.2;
  border: 3px solid var(--portfolio-color);
}

#portfolio .img-container {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  border-radius: inherit;
  overflow: hidden;
}

#portfolio .img-container img {
  height: max-content;
  width: 100%;
  border-radius: inherit;
  transform: translateY(-20%);
}

#portfolio p {
  width: 80%;
  text-align: center;
  margin: 0 auto;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

#ac-art h2 {
  color: var(--ac-art-color);
}

#ac-art p {
  width: 70%;
  margin-bottom: 5px;
}

.ac-art-btn {
  margin: 20px auto;
  &:hover {
    color: var(--ac-art-color);
    font-weight: bold;
    border: 3px solid var(--ac-art-color);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .ac-art-btn:hover {
    scale: 1.1;
  }
}

#ac-art .content-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2vw;
}

@media (max-width: 900px) {
  #ac-art .content-container {
    max-width: 650px;
    margin: 0 auto;
    grid-template-columns: repeat(2, 1fr);
    gap: 5vw;
  }
}

@media (max-width: 450px) {
  #ac-art .content-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

#ac-art .img-container {
  width: 100%;
  margin-top: 40px;
  border-radius: 1rem;
  overflow: hidden;
  border: 2px solid rgba(255, 255, 255, 0.2);
  position: relative;
  transition: all 300ms var(--smooth-out-bezier);
  &:hover {
    cursor: pointer;
    border: 3px solid var(--ac-art-color);
  }
}

@media (prefers-reduced-motion: no-preference) {
  #ac-art .img-container:hover {
    scale: 1.02;
    & img {
      scale: 1.1;
    }
  }
}

#ac-art .img-container img {
  width: 100%;
  scale: 1.05;
  transition: scale 500ms var(--smooth-out-bezier);
}

#ac-art .text-container {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 10;
  text-align: center;
  background: linear-gradient(var(--background-color) -10%, transparent 90%);
  padding-bottom: 50px;
}

#ac-art .text-container h3 {
  color: var(--ac-art-color);
  margin: 10px 0;
  font-size: 1.3rem;
}

#ac-art .text-container h4 {
  margin: 0;
  font-weight: normal;
  font-size: 1.2rem;
}

.publikace-heading {
  color: var(--publikace-color);
  text-align: center;
}

#publikace .text {
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

.publikace-btn {
  margin-left: 30px;
  &:hover {
    color: var(--publikace-color);
    font-weight: bold;
    border: 3px solid var(--publikace-color);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .publikace-btn:hover {
    scale: 1.1;
  }
}

#publikace .content-container {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2vw;
}

@media (max-width: 900px) {
  #publikace .content-container {
    max-width: 650px;
    margin: 0 auto;
    grid-template-columns: repeat(2, 1fr);
    gap: 5vw;
  }
}

@media (max-width: 450px) {
  #publikace .content-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

#publikace .img-container {
  width: 100%;
  margin-top: 40px;
  border-radius: 1rem;
  overflow: hidden;
  border: 2px solid rgba(255, 255, 255, 0.2);
  position: relative;
  transition: all 300ms var(--smooth-out-bezier);
  &:hover {
    cursor: pointer;
    border: 3px solid var(--publikace-color);
  }
}

@media (prefers-reduced-motion: no-preference) {
  #publikace .img-container:hover {
    scale: 1.02;
    & img {
      scale: 1.1;
    }
  }
  #publikace #invence:hover img {
    scale: 1.22;
  }
}

#publikace .img-container img {
  width: 100%;
  scale: 1.05;
  transition: scale 500ms var(--smooth-out-bezier);
}

#publikace .text-container {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 10;
  text-align: center;
  background: linear-gradient(var(--background-color) -10%, transparent 90%);
  padding-bottom: 50px;
}

#publikace .text-container h3 {
  color: var(--publikace-color);
  margin: 10px 0;
  font-size: 1.3rem;
}

#publikace .text-container h4 {
  margin: 0;
  font-weight: normal;
  font-size: 1.2rem;
}

#publikace #invence img {
  scale: 1.15;
}

#publikace .button-caption {
  font-size: 1.5rem;
}

.go-to-publikace {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

@media (max-width: 840px) {
  h1 {
    font-size: 20vw;
  }
  .desc {
    width: 90vw;
  }
}

@media (max-width: 870px) {
  #o-mne {
    grid-template-columns: 1fr;
    position: relative;
    text-align: center;
    overflow: hidden;
    border-radius: 1rem;
  }
  #o-mne .text-container {
    margin-top: 500px;
  }
  #o-mne .text-with-btn {
    margin: 0 auto;
  }
  #o-mne img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.5;
  }
  .o-mne-btn {
    margin: 20px 0;
  }
  #television {
    width: 100%;
  }
}

@media (max-width: 850px) {
  .go-to-publikace {
    flex-direction: column;
    text-align: center;
  }
}

@media (max-width: 700px) {
  #o-mne .text-container {
    margin-top: 400px;
  }
  #publikace .content-container {
    width: 100%;
  }
  #publikace .text {
    width: 100%;
  }
}

@media (max-width: 620px) {
  #o-mne {
    padding: 0;
  }
  #o-mne .text-container {
    width: 100%;
    margin-top: 300px;
    background: linear-gradient(transparent, var(--background-color) 40%);
  }
  #o-mne .text-with-btn {
    width: 100%;
    text-align: start;
  }
  #television {
    height: 80vh;
  }
  #television .img-container {
    height: 100%;
    width: 100%;
  }
  #television .img-container img {
    transform: none;
    height: 100%;
    width: auto;
  }
  #television .img-container img:first-of-type {
    scale: 1.3;
  }
  #ac-art .text {
    width: 100%;
  }
  .text-center-btn {
    text-align: center;
  }
}

@media (max-width: 540px) {
  #o-mne .text-container {
    margin-top: 200px;
  }
}

@media (max-width: 350px) {
  #ac-art h2 {
    font-size: 2.1rem;
  }
}
