h1 {
  text-align: center;
  color: var(--publikace-color);
  font-size: 8rem;
  font-weight: bold;
  margin-top: 3rem;
  margin-bottom: 0.5rem;
}

.desc {
  width: 60%;
  max-width: 900px;
  margin: 0 auto;
  line-height: 1.7rem;
  font-size: 1.1rem;
  color: var(--dark-white);
  text-align: center;
}

@keyframes letter-spacing {
  0% {
    letter-spacing: 1.5rem;
    color: rgb(253, 215, 0);
  }
  100% {
    letter-spacing: -0.151rem;
    color: var(--publikace-color);
  }
}

@keyframes letter-spacing550 {
  0% {
    letter-spacing: 0.5rem;
    color: rgb(253, 215, 0);
  }
  100% {
    letter-spacing: -0.151rem;
    color: var(--publikace-color);
  }
}

@media (prefers-reduced-motion: no-preference) {
  h1 {
    animation: letter-spacing 1s var(--smooth-out-bezier) forwards;
  }

  @media (max-width: 550px) {
    h1 {
      animation: letter-spacing550 1s var(--smooth-out-bezier) forwards;
    }
  }

  .desc {
    opacity: 0;
    animation: opacity 1s var(--smooth-out-bezier) forwards;
    animation-delay: 0.2s;
  }

  .divider {
    opacity: 0;
    animation: opacity 1s var(--smooth-out-bezier) forwards;
    animation-delay: 0.3s;
  }

  #book {
    opacity: 0;
    animation: opacity 1s var(--smooth-out-bezier) forwards;
    animation-delay: 0.5s;
  }
}

.disabled-button:hover {
  cursor: not-allowed !important;
  transform: scale(1.1) !important;
  border: 2px solid #d64545 !important;
  color: #d64545 !important;
  font-weight: bold !important;
}

.book-container {
  width: 95%;
  max-width: 1000px;
  height: 380px;
  margin: 50px auto;
  padding: 1%;
  border-radius: 15px;
  display: grid;
  grid-template-columns: 25% 70%;
  justify-items: center;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.4);
  overflow: hidden;
}

.book-container h3 {
  font-size: 2rem;
  margin-top: 0;
  margin-bottom: 1%;
}

.book-container img {
  width: 100%;
  opacity: 0.8;
  border-radius: 10px;
}

.main-text {
  font-size: 1.1rem;
  text-align: left;
  letter-spacing: 0.01rem;
  width: 80%;
  margin-top: 20px;
  margin-bottom: 0;
}

blockquote {
  margin: 0;
  font-style: italic;
  color: var(--dark-white);
}

.text-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}

.book-container button {
  background-color: var(--background-color-lighter);
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.2);
  font-size: 1.2rem;
  padding: 1%;
  border-radius: 10px;
  transition: all 200ms;
}

.heading h3,
.heading p {
  text-align: center;
}

.heading p {
  margin: 0;
  margin-top: 5px;
}

.heading {
  width: 100%;
}

.pdf-button:hover {
  cursor: pointer;
  transform: scale(1.1);
  color: var(--publikace-color);
  border: 2px solid var(--publikace-color);
  font-weight: bold;
}

.quote-div {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mobile-only {
  display: none;
  opacity: 0;
  transition: all 300ms var(--smooth-out-bezier);
}

.mobile-img {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
}

@media (max-width: 765px) {
  h1 {
    font-size: 17vw;
  }
  .desc {
    width: 95vw;
  }
}

@media (max-width: 420px) {
  .desc {
    font-size: 1rem;
  }
}

@media (max-width: 560px) {
  .book-container {
    width: 80%;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    height: auto;
    position: relative;
  }
  .book-container .img-div {
    width: fit-content;
    height: fit-content;
    position: absolute;
    top: 0;
    z-index: -1;
    opacity: 0.7;
  }
  .img-div img {
    height: fit-content;
    width: fit-content;
  }
  .main-text {
    margin: 50px;
  }
  .book-container .disabled-button {
    color: red;
    font-weight: bolder;
    padding: 5px 10px;
  }
  .book-container button {
    color: var(--publikace-color);
    font-weight: bolder;
    padding: 5px 10px;
  }
  .book-container .no-transform {
    transform: none;
  }
  .book-container .no-top-margin {
    margin-top: 0;
  }
  blockquote {
    color: rgb(228, 225, 225);
  }
  #invence {
    transform: translateY(-200px);
  }
  #byt {
    transform: translate(50px, -50px);
  }
  #verse {
    transform: translateY(-120px);
  }
  .mobile-only {
    display: block;
  }
  .mobile-img {
    opacity: 0.7;
  }
  .desktop-only {
    display: none;
    opacity: 0;
  }
}
.white-text {
  color: white;
}
